@import '../fonts/fonts.css';

body, html {
    margin: 0 auto;
    padding: 0 auto;
    font-family: "futuraoblique"
}

img {
    vertical-align: middle;
}

#container {
	height: 100%;
	width: 100%;
    background-color: rgb(40,147,255);
}

#title {
    position: absolute;
    color: white;
    font-size: 5vmin;
    left: 1vw;
    z-index: 100;
}

#dashboard-right {
    position: absolute;
    font-family: "futuraoblique";
    font-size: 2.5vmin;
    color: white;
    right: 1vw;
    text-align: right;
}

#midbar {
    position: absolute;
    display: flex;
    margin-top: -30vh;
    top: 50%;
    height: 60vh;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 4vmin;
}

.screen {
	margin: auto;
	color: white;
	font-size: 4vmin;
    font-weight: normal;
	font-family: "futuraoblique";
    text-align: center;
    z-index: 100;
    line-height: 50px;
}

#third {
	font-size: 4vmin;	
}

#lyrics {
    font-size: 4vmin;
}

#fourth {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

#thanks {
    margin: auto;
    text-align: center;
    font-size: 4vmin;
    width: 50vw;
}

#playlist {
    margin: auto;
    text-align: center;
    font-size: 4vmin;
    width: 50vw;
    height: 100%;
    overflow: scroll;
}

#line1 {
    color: white;
}
#line2 {
    color: white;
}

#footer {
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
}
.twitter-share-button {
    height: 200px;
}

button, input[type="submit"] {
	display: block;
	font-family: "futuraoblique";
	cursor: pointer;
	margin: auto;
	font-size: 4vmin;
	color: white;
	background-color: rgb(40,147,255);
	border: 0 none;
}

#recordStart, #recordStop, #download {
	font-size: 4vmin;
}

input[type="text"] {
	display: block;
	font-family: "futuraoblique";
	margin: auto;
	font-size: 4vmin;
	color: black;
	border: 0 none;
	background-color: white;
	width: 40vw;
	text-align: center;
}

li {
	text-decoration: underline;
}

a {
    color: white;
    opacity: 0.7;
    text-decoration: none;
}